name: ESP-IDF CI

on:
  push:
    branches: [ main ]
  pull_request:

jobs:
  build-and-test:
    runs-on: ubuntu-latest

    container:
      image: espressif/idf:release-v6.0

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Show ESP-IDF version
        shell: bash
        run: |
          echo "IDF_PATH = $IDF_PATH"
          . "$IDF_PATH/export.sh"
          idf.py --version

      - name: Configure project (cmake)
        shell: bash
        run: |
          . "$IDF_PATH/export.sh"
          idf.py reconfigure

      - name: Build firmware
        shell: bash
        run: |
          . "$IDF_PATH/export.sh"
          idf.py build

      - name: Run Unity tests in QEMU
        shell: bash
        run: |
          set -e
          . "$IDF_PATH/export.sh"

          # Lanzar QEMU sin monitor interactivo
          idf.py qemu --no-monitor &

          # Darle tiempo a que arranque
          sleep 10

          # Monitor en modo script (acá luego podés mandar ENTER/all si querés)
          python "$IDF_PATH/tools/idf_monitor.py" \
            -p socket://localhost:5555 \
            -b 115200 \
            --toolchain-prefix xtensa-esp32-elf- \
            --target esp32 \
            build/myApp.elf build/bootloader/bootloader.elf
