name: ESP-IDF CI

on:
  push:
    branches: [ main ]
  pull_request:

jobs:
  test-qemu:
    runs-on: ubuntu-latest
    container:
      image: espressif/idf:release-v6.0
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
      - name: Run idf.py qemu
        shell: bash
        working-directory: test
        run: |
          . "$IDF_PATH/export.sh"
          idf.py qemu
      - name: Upload QEMU log
        uses: actions/upload-artifact@v4
        with:
          name: qemu-output-log
          path: test/build/output.log
